.ed, .edit, .modyal {
    display: none;
}

.tabs {
    margin-top: 3.25rem;
}

.modyal {
    max-width: 500px;
    max-height: 24em ;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px #444;
    border-radius: 10px 10px 0 0;
}
.modyal .message {
    max-height: 24em;
    overflow-y: auto;
}
.modyal .message-body {
    margin-top: 2.3em;
}
.field .icon, .field .help {
    display: none;
}